{% extends 'admin/base.html' %}
{% block addsubcat %}
active
{% endblock %}

{% block content %}

<center>
    <div class="container" style="width: 60%;">
        <h3 class="my-5"><u>Add SubCategories</u></h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating my-3">
                <select class="form-select" name="category" id="floatingSelect" aria-label="Floating label select example" required>
                    <option selected></option>
                    {% for i in categories %}
                    <option value="{{ i.id }}">{{ i.category }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Select for which category You need to add Sub category</label>
            </div>
            <div class="form-floating mb-3 mt-5">
                <input type="text" class="form-control" name="subcategory" id="floatingInput" placeholder="Laptop"
                    required>
                <label for="floatingInput">SubCategory</label>
                <button type="submit" class="btn btn-primary mt-5">Add</button>
            </div>
        </form>
    </div>
</center>

{% endblock %}