{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'admin/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="/admin/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">NEON</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'admin/img/user.jpg' %}" alt=""
                            style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{ name }}</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/" class="nav-item nav-link {% block dashboard %}{% endblock %}"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/viewusers/" class="nav-item nav-link {% block viewusers %}{% endblock %}"><i
                            class="fa fa-address-card me-2"></i>View Users</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-table me-2"></i>Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/category/" class="dropdown-item {% block viewcat %} {% endblock %}">View
                                Categories</a>
                            <a href="/admin/addcategory/" class="dropdown-item {% block addcat %} {% endblock %}">Add
                                Categories</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-table"></i>Sub Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/subcategory/"
                                class="dropdown-item {% block viewsubcat %} {% endblock %}">View
                                SubCategories</a>
                            <a href="/admin/addsubcategory/"
                                class="dropdown-item {% block addsubcat %} {% endblock %}">Add
                                SubCategories</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Product</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/products/" class="dropdown-item {% block viewproduct %} {% endblock %}">View
                                Products</a>
                            <a href="/admin/addproducts/"
                                class="dropdown-item {% block addproduct %} {% endblock %}">Add
                                Products</a>
                        </div>
                        <a href="/admin/banner/" class="nav-item nav-link {% block banner %} {% endblock %}"><i class="fa fa-keyboard me-2"></i>Banner</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                    class="fa fa-laptop me-2"></i>Coupens</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="/admin/coupens/"
                                    class="dropdown-item {% block viewcoupen %} {% endblock %}">View
                                    coupens</a>
                                <a href="/admin/addcoupens/"
                                    class="dropdown-item {% block addcoupen %} {% endblock %}">Add
                                    coupens</a>
                            </div>
                        </div>
                        <a href="/admin/myorders/" class="nav-item nav-link {% block order %} {% endblock %}"><i
                                class="fa fa-table me-2"></i>Orders</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                    class="far fa-newspaper me-2"></i>Offers</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="/admin/offers/" class="dropdown-item">View Offers</a>
                                <a href="/admin/addoffers/" class="dropdown-item">Add Offers</a>
                            </div>
                        </div>
                        <a href="/admin/salesreport/" class="nav-item nav-link {% block salesreport %} {% endblock %}"><i class="fa fa-keyboard"></i>Sales Report</a>
                    </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content" style="width: 260%;">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div> -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-book me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Sales Report</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0"> <strong>Delivered Order</strong> </h6>
                                <div class="d-flex">
                                    <small><a href="/admin/reports/?search=Delivered&type=view" class="btn"
                                            style="font-size: small;">View</a></small>
                                    <small><a href="/admin/reports/?search=Delivered&type=download" class="btn"
                                            style="font-size: small;">Download</a></small>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0"><strong>Returned Order</strong></h6>
                                <div class="d-flex">
                                    <small><a href="/admin/reports/?search=Returned&type=view" class="btn"
                                            style="font-size: small;">View</a></small>
                                    <small><a href="/admin/reports/?search=Returned&type=download" class="btn"
                                            style="font-size: small;">Download</a></small>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0"><strong>Cancelled</strong></h6>
                                <div class="d-flex">
                                    <small><a href="/admin/reports/?search=Cancelled&type=view" class="btn"
                                            style="font-size: small;">View</a></small>
                                    <small><a href="/admin/reports/?search=Cancelled&type=download" class="btn"
                                            style="font-size: small;">Download</a></small>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <!-- <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0"><strong>Completed</strong></h6>
                                <div class="d-flex">
                                    <small><a href="/admin/reports/?search=&type=view" class="btn" style="font-size: small;">View</a></small>
                                    <small><a href="/admin/reports/?search=&type=download" class="btn" style="font-size: small;">Download</a></small>
                                </div>
                            </a> -->
                            <!-- <hr class="dropdown-divider"> -->
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <!-- <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                                style="width: 40px; height: 40px;"> -->
                            <span class="d-none d-lg-inline-flex">{{ name }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="/logout/" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
                    <i class="fa fa-exclamation-circle me-2"></i>{{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row vh-120 bg-light rounded align-items-center justify-content-center mx-0">
                    <div class="d-flex justify-content-end">
                        <p id="currentTime" class="pt-4"></p>
                    </div>

                    {% block content %}

                    <!--Space for content through template inheritance-->


                    {% endblock %}

                </div>
            </div>
            <!-- Blank End -->



            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="/admin/">Neon</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            </br>
                            Distributed By <a class="border-bottom" href="https://themewagon.com"
                                target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script>
        setInterval(function() {
    const currentTime = new Date();
    var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', timeZone: 'IST', };
  document.getElementById('currentTime').innerHTML = new Intl.DateTimeFormat('en-IN', options).format(currentTime);
}, 1000);
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'admin/lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'admin/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'admin/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'admin/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'admin/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'admin/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Template Javascript -->
    <script src="{% static 'admin/js/main.js' %}"></script>

    {% block scripts %}

    {% endblock %}


</body>

</html>