{% extends 'admin/base.html' %}

{% block addproduct %}
active
{% endblock %}

{% block content %}

<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h3 class="mb-4">Add Products</h3>
        <form action="/admin/edit/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="pid" value="{{ pid }}" hidden>
            <div class="form-floating mb-3">
                <input type="text" name="name" value="{{ data.name }}" class="form-control" id="floatingInput" required>
                <label for="floatingInput">Name of Product</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" name="brand" value="{{ data.brand }}" class="form-control" id="floatingInput" required>
                <label for="floatingInput">Brand</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" name="model" value="{{ data.model_number }}" class="form-control" id="floatingInput" required>
                <label for="floatingInput">Model</label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" name="price" value="{{ data.price }}" class="form-control" id="floatingPassword" required>
                <label for="floatingPassword">Price</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="category" id="categories" aria-label="Floating label select example">
                    {% for i in categories %}
                    <option value="{{ i.id }}" {% if data.category_id == i.id %} selected {% endif %}>{{ i.category }}</option>
                    {% endfor %}
                </select>
                <label for="categories">Category</label>
            </div>

            <div class="form-floating mb-3" id="subcategory" style="display: none;">

                <!-- subcategory section Ajax Jquery-->

            </div>

            <div class="form-floating mb-3">
                <input type="text" name="ram" value="{{ data.ram }}" class="form-control" id="floatingInput">
                <label for="floatingInput">RAM</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" name="rom" value="{{ data.rom }}" class="form-control" id="floatingInput">
                <label for="floatingInput">ROM</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" name="processor" value="{{ data.processor }}" class="form-control" id="floatingInput">
                <label for="floatingInput">Processor</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" name="display" value="{{ data.display }}" class="form-control" id="floatingInput">
                <label for="floatingInput">Display</label>
            </div>

            <div class="form-floating">
                <textarea class="form-control" name="spec" value="{{ data.description }}" placeholder="Leave a comment here" id="floatingTextarea"
                    style="height: 150px;"></textarea>
                <label for="floatingTextarea">{{ data.description }}</label>
            </div>

            <div class="my-3">
                <p>Upload image of the Product</p>
                <sub>* To change the displayed Image click on the field Just below the Image</sub>
                <ol>
                    <li>
                        <img src="/media/{{ data.img1 }}" style="width: 50%;">
                        <input name="img1" class="form-control my-2" type="file" id="img1">
                    </li>
                    <li>
                        <img src="/media/{{ data.img2 }}" style="width: 50%;">
                        <input name="img2" class="form-control my-2" type="file" id="img2">
                    </li>
                    <li>
                        <img src="/media/{{ data.img3 }}" style="width: 50%;">
                        <input name="img3" class="form-control my-2" type="file" id="img3">
                    </li>
                    <li>
                        <img src="/media/{{ data.img4 }}" style="width: 50%;">
                        <input name="img4" class="form-control my-2" type="file" id="img4">
                    </li>
                </ol>
            </div>

            <div class="form-floating mb-3">
                <input type="number" name="stock" value="{{ data.stock }}" class="form-control" id="floatingPassword" required>
                <label for="floatingPassword"> Update Stock</label>
            </div>

            <button type="submit" class="btn btn-primary m-2">Update Product</button>
    </div>
    </form>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#categories').change(function () {
            var catid = $('#categories').val()
            $('#subcategory').load("/admin/matchingsubcategory/" + catid)
            $('#subcategory').css('display', 'block')
        });

    });
</script>

{% endblock %}