{% extends 'admin/base.html' %}
{% block viewoffer %}
active
{% endblock %}


{% block content %}

<!-- Category offers -->
<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Category Offers</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        Category
                    </th>
                    <th scope="col">
                        Offer Percentage
                    </th>
                    <th scope="col">
                        Offer Maximum Limit
                    </th>
                    <th scope="col">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for i in offers %}
                {% if i.catid %}
                <tr>
                    <td class="pt-4">
                        {% if i.catid %}
                        {{ i.catid.category }}
                        {% endif %}
                        {% if i.pid %}
                        {{ i.pid.name }}
                        {% endif %}
                    </td>
                    <td class="pt-4">{{ i.offer }}%</td>
                    <td class="pt-4">₹{{ i.max_limit }}</td>
                    <td>
                        <form id="delcoupen" class="delcoupen" method="post">
                            {% csrf_token %}
                            <input type="text" name="oid" value="{{ i.id }}" hidden>
                            <button type="submit" onclick="return confirmation()" class="btn btn-danger m-2">
                                Delete</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!--Product offers -->

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Product Offers</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        Product
                    </th>
                    <th scope="col">
                        Offer Percentage
                    </th>
                    <th scope="col">
                        Offer Maximum Limit
                    </th>
                    <th scope="col">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for i in offers %}
                {% if i.pid %}
                <tr>
                    <td class="pt-4">
                        {% if i.catid %}
                        {{ i.catid.category }}
                        {% endif %}
                        {% if i.pid %}
                        {{ i.pid.name }}
                        {% endif %}
                    </td>
                    <td class="pt-4">{{ i.offer }}%</td>
                    <td class="pt-4">₹{{ i.max_limit }}</td>
                    <td>
                        <form id="delcoupen" class="delcoupen" method="post">
                            {% csrf_token %}
                            <input type="text" name="oid" value="{{ i.id }}" hidden>
                            <button type="submit" onclick="return confirmation()" class="btn btn-danger m-2">
                                Delete</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--Sweet alert for asking confirmation to delete-->
<script>
    function confirmation() {
        $('.delcoupen').submit(function (ev) {

            ev.preventDefault();
            swal({
                title: "Are you sure?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        // document.getElementsByClassName('delcat').action = "/admin/delcategory/"
                        $('.delcoupen').attr('action', '/admin/deloffers/');
                        $(this).unbind('submit').submit()
                    }
                });
        });
        // $(this).unbind('submit').submit()

    }
</script>

{% endblock %}