{% extends 'user/base.html' %}
{% load static %}

{% block title %}
Neon | Checkout
{% endblock %}

{% block username %}
{% if name %}
<li class="submenu">
    <a href="javascript:;"><b>{{ name }}</b></a>
    <ul>
        <li><a href="/user/profile/">Profile</a></li>
        <li><a href="/user/myaddress/">My Address</a></li>
        <li><a href="/user/myorders/">Orders</a></li>
        <li><a href="/user/wishlist/">Wishlist</a></li>
        <li><a rel="nofollow" href="/logout/">Logout</a></li>
    </ul>
</li>
{% endif %}
{% endblock %}

{% block categoriesdisplay %}
{% endblock %}

{% block content %}
<style>
    .card:hover {
        background-color: white !important;
        border: 2px groove black;
        cursor: pointer;
        color: black !important;
    }
</style>

<div class="row" id="b" style="margin:8rem 5rem;">

    <div class="container p-2 px-5" id="addressselection" style="
    border: 2px solid white;border-radius: 10px;box-shadow: -4px 1px 20px 2px gray;">
        <h3>Select Delivery Address</h4>
    </div>
    <div class="form-check">
        {% for address in a %}

        <label class="form-check-label" for="address{{forloop.counter}}">
            <div class="card col-lg-12 m-4 bg-dark" id="inputlabel{{forloop.counter}}"
                style="color:white;line-height: 2rem;">
                <div class="card-body">
                    {{ address.name }} <br>
                    {{ address.addres }} <br>
                    {{ address.state }}
                    {{ address.city }}
                    {{ address.pincode }} <br>
                    {{ address.phone }}
                </div>
            </div>
        </label>
        <input class="form-check-input" type="radio" name="exampleRadios" id="address{{forloop.counter}}"
            value="{{ address.id }}" onclick="addressid({{ address.id }},inputlabel{{forloop.counter}})" hidden>
        {% endfor %}
    </div>
    <br>
    <small><a href="/user/myaddress/"> Add Address </a></small>

    <div class="container p-2 px-5" style="
    border: 2px solid white;border-radius: 10px;box-shadow: -4px 1px 20px 2px gray;">
        <h3>Payment Details</h4>
    </div>

    <!--Price Details-->
    <div class="col-lg-12 p-5" style="height: max-content;box-shadow: 0.5px 1px 2px 1px rgba(83, 183, 245, 0.8);">
        <h4 class="mb-4">Price Details</h4>
        <table class="table table-borderless">
            <tr>
                <td>Price</td>
                <td class="text-right" id="price">₹{{ price }}</td>
            </tr>
            <tr>
                <td>Shipping Charges</td>
                <td class="text-right" id="s">₹{{ s }}</td>
            </tr>
            <tr>
                <td>Discounts</td>
                <td class="text-right" id="discount">-₹{{ less }}</td>
            </tr>
            <tr style="border-top: 2px solid black;">
                <td>Total Cart value</td>
                <td class="text-right" id="total">₹{{ total }}</td>
            </tr>
        </table>
        {% if coupen %}
        <p>
            <img src="/media/check-mark.png/" alt="" style="width: 30px;">
            Applied coupen code <strong>{{ coupen }} </strong> <sup><a id="remc" class="text-danger" style="cursor: pointer;" onclick="remcoupen()">Remove</a></sup></p>
        {% endif %}
        <button class="btn btn-primary" id="coupen">{% if coupen %} Change Coupen{% else %} Apply coupen{% endif %}</button> <br>
        <small>* Shipping Charges Free If order value is greater than ₹500</small><br>
    </div>

    <div class="container p-2 px-5" id="selectpaymentmethod" style="
    border: 2px solid white;border-radius: 10px;box-shadow: -4px 1px 20px 2px gray;">
        <h3>Select Payment Option</h4>
    </div>


    <div class="form-check m-5">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="paypal"
            onclick="paymentmethod('paypal')" hidden>
        <label class="form-check-label" for="exampleRadios1" hidden>
            Paypal
        </label><br>
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="razorpay"
            onclick="paymentmethod('razorpay')">
        <label class="form-check-label" for="exampleRadios2">
            Razor Pay
        </label><br>
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="cod"
            onclick="paymentmethod('cod')">
        <label class="form-check-label" for="exampleRadios3">
            Cash On Delivery
        </label>
    </div>


    <div class="container mx-5 mt-3">
        <button class="btn" id="payment"
            style="background-color: #FF9F00;font-family: cursive;color: white;font-weight: bolder;padding: 1%;">Make
            Payment of ₹{{ total }}</button>
    </div>




</div>


{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!--Payment screen-->


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

    //coupen

 $('#coupen').click(function(){
    swal({
  text: 'Enter Coupen Code',
  content: "input",
  button: {
    text: "Apply",
    closeModal: false,
  },
})
.then(code => {
    if (!code) throw null;
  if (code) {
    $.ajax({
        url:'/user/applycoupen/',
        type:'GET',
        data:{
            'code':code
        },
        success:function(res){
            swal({
                icon: res.status,
                text: res.message
            })
            .then(val =>{
                location.reload()
            })
            // $('#discount').text('-₹'+res.less)
            // $('#discount').val('₹'+res.less)
            // $('#total').text('₹'+res.finalamt)
            // $('#total').val('₹'+res.finalamt)


        },
        error:function(){
            swal({
                icon:'error',
                text:"Coupen Code is invalid"
            })
        }
    })
  }
})
.catch((error) => {
    swal.close();
})
 })


 //Remove coupen

 function remcoupen(){
    swal({
        icon:'info',
        text:'Are sure to remove Coupen Code!'
    })
    .then(res =>{
        if(res){
            location.href="/user/removecoupen/"
        }
    })

 }

//coupen ends
    var paymentlink;
    var addressId;
    var LabelId;
    var PaymentMethod;
    function addressid(id, l) {
        if (LabelId) {
            $('#' + LabelId.id).attr('class', 'card col-lg-12 m-4 text-light bg-dark')
        }
        addressId = id
        $('#' + l.id).attr('class', 'card col-lg-12 m-4 text-dark')
        LabelId = l
    }

    function paymentmethod(p) {
        PaymentMethod = p
    }

    p = {{ total }} * 100

    var options = {
        "key": "rzp_test_ZTRd7diWGDPbuQ", // Enter the Key ID generated from the Dashboard
        "amount": p, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Neon",
        "description": "Test Transaction",
        "image": "/media/logo.png/",
        //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
            swal({
                icon: 'success',
                title: "Order Placed Successfully",
                text: "Payment of ₹" + (p / 100) + "With Payment Id-" + response.razorpay_payment_id
            })
                .then((val) => {
                    $.ajax({
                        url: '/user/ordercreation/',
                        type: 'POST',
                        data: {
                            'paymentid': response.razorpay_payment_id,
                            'paymentmethod': PaymentMethod,
                            'address': addressId,
                            csrfmiddlewaretoken: '{{ csrf_token}}'
                        },
                        success: function (r) {
                            // alert(r.response)
                            window.location.href = '/user/myorders/'
                        }
                    })
                })
            // alert(response.razorpay_payment_id);
            // alert(response.razorpay_order_id);
            // alert(response.razorpay_signature)
        },
        "prefill": {
            "name": "SOORAJ s",
            "email": "sooraj@gmail.com",
            "contact": "8590207845"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#AA3DED"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        swal({
            icon: 'error',
            title: response.error.reason,
            text: response.error.description + "Payment id:" + response.error.metadata.payment_id
        })
        // alert(response.error.code);
        // alert(response.error.description);
        // alert(response.error.source);
        // alert(response.error.step);
        // alert(response.error.reason);
        // alert(response.error.metadata.order_id);
        // alert(response.error.metadata.payment_id);
    });
    document.getElementById('payment').onclick = function (e) {
        if (addressId) {
            if (PaymentMethod) {

                // Payment Method 
                if (PaymentMethod == 'paypal') {
                    // paymentlink = '/' //need to fill
                    swal('-----------Order Placed with Paypal-------')
                }
                else if (PaymentMethod == 'razorpay') {
                    swal({
                        title: "Click Ok to make Payment",
                        buttons: true
                    })
                        .then((value) => {
                            if (value) {
                                // Ajax Sending request for Payment
                                $.ajax({
                                    url: '/razorpay/',
                                    type: 'POST',
                                    data: {
                                        'price': p,
                                    },
                                    success: function (r) {
                                        options["order_id"] = r.order_id
                                        rzp1.open();
                                        e.preventDefault();
                                    },
                                    error: function (r) {
                                        swal("Unable to initiate Payment")
                                    }
                                });
                            }
                        });
                }
                else if (PaymentMethod == 'cod') {
                    swal({
                        icon:'info',
                        text:'Confirm to Place Order with Cash On Delivery',
                        buttons: true,
                    })
                        .then((val) => {
                            if(val){
                                $.ajax({
                                    url: '/user/ordercreation/',
                                    type: 'POST',
                                    data: {
                                        'paymentid': 'null',
                                        'paymentmethod': PaymentMethod,
                                        'address': addressId,
                                        csrfmiddlewaretoken: '{{ csrf_token}}'
                                    },
                                    success: function (r) {
                                        swal({
                                            icon:'success',
                                            text:'Order Placed Successfully'
                                        })
                                        .then((v) => {
                                            // window.location.href = '/user/myorders/'
                                            location.reload()
                                        })
                                    }
                                })
                            }
                        })
                }
                //Ajax Sending request for Payment
                // $.ajax({
                //     url: paymentlink,
                //     type: 'POST',
                //     data: {
                //         'test': "working",
                //         csrfmiddlewaretoken: '{{ csrf_token}}',
                //     },
                //     success: function (r) {
                //         console.log("working")
                //         // $(document).load(r.page)
                //     },
                //     error: function () {
                //         swal("Error")
                //     }
                // });
            }
            else {
                swal({
                    title: "Select Payment Method",
                    icon: "info"
                })
                document.getElementById('selectpaymentmethod').scrollIntoView(true);
            }
        }
        else {
            swal({
                title: 'Select Address',
                icon: 'info'
            })
            document.getElementById('addressselection').scrollIntoView(true);
        }
    }
</script>

<!--Payment Screen Ends-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
{% endblock %}