{% extends 'user/base.html' %}
{% load static %}

{% block title %}
Neon | My Orders
{% endblock %}

{% block username %}
{% if name %}
<li class="submenu">
    <a href="javascript:;"><b>{{ name }}</b></a>
    <ul>
        <li><a href="/user/profile/">Profile</a></li>
        <li><a href="/user/myaddress/">My Address</a></li>
        <li><a href="/user/myorders/">Orders</a></li>
        <li><a href="/user/wishlist/">Wishlist</a></li>
        <li><a rel="nofollow" href="/logout/">Logout</a></li>
    </ul>
</li>
{% endif %}
{% endblock %}

{% block categoriesdisplay %}
{% endblock %}

{% block content %}

<style>

    .return-btn:hover{
        background-color: black !important ;
        color: white !important;
    }

</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



<div class="container" style="margin:8rem 5rem;">

    <div class="card">
        {% for o in order %}
        <div class="card-body" style="border:1px solid black;">
            <div class="d-flex">
                <div class="m-4">
                    <img src="/media/{{ o.pid.img1 }}" style="height: 8rem;width:5rem;" alt="">

                </div>
                <div class="p-5">
                    <div class="d-flex justify-content-end">
                        <div class="mr-5">
                            <a href="/user/product/{{ o.pid.id }}"> {{ o.pid.name }}</a> <br>
                            ₹{{ o.pid.price }} <br>
                            Quantity:&nbsp;{{ o.quantity }} <br>
                            Order Value: <b> {% if o.discounts %} <del>₹{{ o.amount }}</del> ₹{{ o.calcfinalamt }} {% else %} ₹{{ o.amount }} {% endif %}  </b> <br>
                            <strong> Delivering to: </strong> <br>
                                            {{ o.ShippingAddress.name }} <br>
                                           pincode : {{ o.ShippingAddress.pincode }} <br>
                                           contact Number: {{ o.ShippingAddress.phone }} <br>
                                           <strong> Payment Method : </strong> <br>
                                           {{ o.paymentMethod }} <br>
                            {% if o.paymentMethod != 'cod' %}
                            <strong> Payment Id: </strong> <br>
                            {{ o.paymentId }}<br>
                            <strong> Payment Time: </strong> 
                            {{ o.orderedtime }}
                            {% endif %}

                            

                        </div>
                        <div class="mx-5 px-5">
                            <div
                                style="background-color:{% if o.orderStatus == 'Cancelled'%} red {% else %} green {% endif %};border-radius: 50px;height: 1px;width: 1px;padding: 5%;" class="mx-auto">
                            </div>
                            {{ o.orderStatus }}

                        </div>
                        <div>
                            <a href="/user/downloadinvoice/?orderid={{ o.id }}&option=view" class="btn btn-primary" {% if o.orderStatus != 'Delivered' %} hidden {% endif %}>
                                View Invoice
                            </a>
                            <a href="/user/downloadinvoice/?orderid={{ o.id }}&option=download" class="btn btn-primary" {% if o.orderStatus != 'Delivered' %} hidden {% endif %}>
                                Download Invoice
                            </a>
                            <button class="btn btn-danger" id="{{ o.id }}" onclick="confirmation({{ o.id }})" {% if o.orderStatus == 'Cancelled' or o.orderStatus == 'Delivered' or o.orderStatus == 'Returned' %} hidden {% endif %}>
                                Cancel Order
                            </button>
                            <button class="btn return-btn" style="background-color: white; border:2px groove black;" id="return{{ o.id }}" value="{{ o.id }}" onclick="returnpdt(return{{ o.id }},{{ o.id }})" {% if o.orderStatus != 'Delivered' %} hidden {% endif %}>
                                Return
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

    <div class="container my-5 d-flex justify-content-center">

        <nav aria-label="...">
            <ul class="pagination">
            {% if order.has_previous %}
            <li class="page-item">
                <span class="page-link"><a href="/user/myorders/?pgno={{ order.number|add:-1 }}">Previous</a></span>
            </li>
            {% endif %}
            {% for lp in lastpage %}
            <li class="page-item {% if order.number == lp %}active{% endif %}"><a class="page-link" href="/user/myorders/?pgno={{ lp }}">{{ lp }}</a></li>
            {% endfor %}
            {% if order.has_next %}
            <li class="page-item">
                <li class="page-item">
                    <span class="page-link"><a href="/user/myorders/?pgno={{ order.number|add:1 }}">Next</a></span>
                </li>
            </li>
            {% endif %}
            </ul>
        </nav>

    </div>


</div>



{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    function returnpdt(btnid,oid){
        swal({
            icon:'info',
            text:"Are You Sure To Return The Product",
            buttons:true
        })
        .then((response) =>{
            if (response){
                $.ajax({
                    url:'/user/returnpdt/',
                    type:'post',
                    data:{
                        csrfmiddlewaretoken:'{{ csrf_token }}',
                        'oid':oid
                    },
                    success: function(res){
                        swal({
                            icon:'info',
                            text:"Delivery Agent Will Arrive within 2 days to Pick the product"
                        })
                        $(btnid).hide()
                    },

                })
            }
        })
    }

    function confirmation(oid) {
        swal({
            title: "Are you sure?",
            text: "Are you sure to cancel Your Order?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/user/cancelorder/",
                        type: 'POST',
                        data: {
                            'oid':oid,
                            csrfmiddlewaretoken : "{{ csrf_token }}"
                        },
                        success: function (response) {
                            // $('#'+colr).css('background-color','red')                            
                            swal({
                                icon:'success',
                                title:'Order Cancelled Successfully'
                            })
                            .then((v) => {
                                window.location.reload()
                            })
                        },
                        error: function (response) {
                            swal("Some Error Occured")
                        }

                    })
                }
            });
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

{% endblock %}