{% extends 'user/base.html' %}
{% load static %}
{% load url_param_change %}

{% block title %}
Neon | Cart
{% endblock %}

{% block username %}
{% if name %}
<li class="submenu">
    <a href="javascript:;"><b>{{ name }}</b></a>
    <ul>
        <li><a href="/user/profile/">Profile</a></li>
        <li><a href="/user/myaddress/">My Address</a></li>
        <li><a href="/user/myorders/">Orders</a></li>
        <li><a href="/user/wishlist/">Wishlist</a></li>
        <li><a rel="nofollow" href="/logout/">Logout</a></li>
    </ul>
</li>

{% else %}
<li class="scroll-to-section"><a href="/login/" class="active">Login</a></li>
<li class="scroll-to-section"><a href="/user/signup/" class="active">Signup</a></li>
{% endif %}
{% endblock %}

{% block categoriesdisplay %}
{% if subcat %}
<li class="submenu">
    <a href="javascript:;">Sub Categories</a>
    <ul>
        {% for i in subcat %}
        <li><a href="/user/query/?query={{ i.subcategory}}">{{ i.subcategory }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endif %}
{% endblock %}

{% block content %}
<style>
    @media (max-width:768px) {
        .card-img-top{
            width: 130px !important;
            height: 130px !important;
        }
        
    }
    ul li:hover{
        text-decoration: underline !important;
        cursor: pointer;
    }
.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 15% auto;
}

.sliders_control {
  position: relative;
  min-height: 20px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border:1px solid black;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border:1px solid black;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 18px;
  font-size: 16px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}
</style>

<div class="container d-flex" style="margin-top:7rem">

    <h6>Sort By - </h6>
    <ul class="d-flex mx-5">
        <li class="mx-5"><a href="{% urlparam request 'sort' 'htl' %}">Price : High to Low </a></li>
        <li class="mx-5"><a href="{% urlparam request 'sort' 'lth' %}">Price : Low to High </a></li>
    </ul>
</div>

<div class="row d-flex mx-auto" style="margin-bottom:8rem;margin-top: 2rem;">

    <div class="col-lg-3">
        <ol>
            <li>
                Price Range:
                <div class="range_container">
                    <div class="sliders_control">
                        <input id="fromSlider" type="range" {% if request.GET.min %} value="{{ request.GET.min }}" {% else %} value="0" {% endif %} min="0" max="{{ maxprice }}" onmouseup="getminval()">
                        <input id="toSlider" type="range" {% if request.GET.max %} value="{{ request.GET.max }}" {% else %} value="{{ maxprice }}" {% endif %} min="0" max="{{ maxprice }}" onmouseup="getmaxval()">
                    </div>
                    <div class="form_control">
                        <div class="form_control_container">
                            <div class="form_control_container__time">Min</div>
                            <input class="form_control_container__time__input" type="number" id="fromInput" {% if request.GET.min %} value="{{ request.GET.min }}" {% else %} value="0" {% endif %} min="0" max="{{ maxprice }}" onchange="getminval()">
                        </div>
                        <div class="form_control_container">
                            <div class="form_control_container__time">Max</div>
                            <input class="form_control_container__time__input" type="number" id="toInput" {% if request.GET.max %} value="{{ request.GET.max }}" {% else %} value="{{ maxprice }}" {% endif %} min="0" max="{{ maxprice }}" onchange="getmaxval()">
                        </div>
                    </div>
                </div>
            </li>
            <!-- <li>

                Brand
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled><i class="fa fa-search"></i></button>
                  </form>
            </li>
            <li>
                RAM
            </li>
            <li>
                Internal Storage
            </li> -->
        </ol>
    </div>
    
    <div class="container col-lg-9">
    
        {% if result %}
    
        <div class="row" style="height: 100%;">
        {% for r in result %}    
        <div class="card col-8 col-sm-6 col-lg-5 m-2 mx-auto p-5" style="width: 18rem;">
            <img src="/media/{{ r.img1 }}" class="card-img-top mx-auto" alt="..." style="object-fit: scale-down;" width="200px" height="200px">
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="card-title"><a href="/user/product/{{ r.id }}/">{{ r.name }}</a> </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {% if r.calcofferprice %}
                <del style="color: red;">
                ₹{{ r.price }}  
                 </del>
                 <div style="color: green;">
                  ₹{{ r.calcofferprice }} 
                 </div>
           
          {% else %}
          ₹{{ r.price }}  
           {% endif %}
    </h6>
              <p class="card-text">{{ r.description }}</p>
              <div>
                  <a href="/user/wishlist/{{ r.id }}" class="btn btn-primary">Add Wishlist</a>
                  <a href="/user/cart/{{ r.id }}" class="btn btn-primary">Add to cart</a>
              </div>
            </div>
          </div>
        
        {% endfor %}
        </div>
    
        <div class="container my-5 d-flex justify-content-center">
    
            <nav aria-label="...">
                <ul class="pagination">
                {% if result.has_previous %}
                <li class="page-item">
                    <span class="page-link"><a href="{% urlparam request 'pgno' result.number|add:-1 %}">Previous</a></span>
                </li>
                {% endif %}
                {% for lp in lastpage %}
                <li class="page-item {% if result.number == lp %}active{% endif %}"><a class="page-link" href="{% urlparam request 'pgno' lp %}">{{ lp }}</a></li>
                {% endfor %}
                {% if result.has_next %}
                <li class="page-item">
                    <li class="page-item">
                        <span class="page-link"><a href="{% urlparam request 'pgno' result.number|add:1 %}">Next</a></span>
                    </li>
                </li>
                {% endif %}
                </ul>
            </nav>
    
        </div>
            
            
        {% else %}
        <strong>Results Matching Your Query Not Found:</strong><br>
        Try Searching with another Query
    
        {% endif %}
    </div>
</div>


{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>

function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
    const [from, to] = getParsed(fromInput, toInput);
    fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
    if (from > to) {
        fromSlider.value = to;
        fromInput.value = to;
    } else {
        fromSlider.value = from;
    }
}
    
function controlToInput(toSlider, fromInput, toInput, controlSlider) {
    const [from, to] = getParsed(fromInput, toInput);
    fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
    setToggleAccessible(toInput);
    if (from <= to) {
        toSlider.value = to;
        toInput.value = to;
    } else {
        toInput.value = from;
    }
}

function controlFromSlider(fromSlider, toSlider, fromInput) {
  const [from, to] = getParsed(fromSlider, toSlider);
  fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
  if (from > to) {
    fromSlider.value = to;
    fromInput.value = to;
  } else {
    fromInput.value = from;
  }
}

function controlToSlider(fromSlider, toSlider, toInput) {
  const [from, to] = getParsed(fromSlider, toSlider);
  fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
  setToggleAccessible(toSlider);
  if (from <= to) {
    toSlider.value = to;
    toInput.value = to;
  } else {
    toInput.value = from;
    toSlider.value = from;
  }
}

function getParsed(currentFrom, currentTo) {
  const from = parseInt(currentFrom.value, 10);
  const to = parseInt(currentTo.value, 10);
  return [from, to];
}

function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
    const rangeDistance = to.max-to.min;
    const fromPosition = from.value - to.min;
    const toPosition = to.value - to.min;
    controlSlider.style.background = `linear-gradient(
      to right,
      ${sliderColor} 0%,
      ${sliderColor} ${(fromPosition)/(rangeDistance)*100}%,
      ${rangeColor} ${((fromPosition)/(rangeDistance))*100}%,
      ${rangeColor} ${(toPosition)/(rangeDistance)*100}%, 
      ${sliderColor} ${(toPosition)/(rangeDistance)*100}%, 
      ${sliderColor} 100%)`;
}

function setToggleAccessible(currentTarget) {
  const toSlider = document.querySelector('#toSlider');
  if (Number(currentTarget.value) <= 0 ) {
    toSlider.style.zIndex = 2;
  } else {
    toSlider.style.zIndex = 0;
  }
}

const fromSlider = document.querySelector('#fromSlider');
const toSlider = document.querySelector('#toSlider');
const fromInput = document.querySelector('#fromInput');
const toInput = document.querySelector('#toInput');
fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
setToggleAccessible(toSlider);

fromSlider.oninput = () => controlFromSlider(fromSlider, toSlider, fromInput);
toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInput);
fromInput.oninput = () => controlFromInput(fromSlider, fromInput, toInput, toSlider);
toInput.oninput = () => controlToInput(toSlider, fromInput, toInput, toSlider);


function getminval(){
    {% if request.GET.min is none %}
    window.location.href = "?query={{ request.GET.query }}&sort={{ request.GET.sort }}&max={{ request.GET.max }}&min="+$('#fromInput').val()
    {% elif request.GET.min == '' %}
    window.location.href = "?query={{ request.GET.query }}&sort={{ request.GET.sort }}&max={{ request.GET.max }}&min="+$('#fromInput').val()
    {% elif request.GET.min %}
    window.location.href = "?query={{ request.GET.query }}&sort={{ request.GET.sort }}&max={{ request.GET.max }}&min="+$('#fromInput').val()
    {% else %}
    window.location.href = "/"
    {% endif %}    
}
function getmaxval(){
    {% if request.GET.min is none %}
    window.location.href = "?query={{ request.GET.query }}&sort={{ request.GET.sort }}&min={{ request.GET.min }}&max="+$('#toInput').val()
    {% elif request.GET.min == '' %}
    window.location.href = "?query={{ request.GET.query }}&sort={{ request.GET.sort }}&min={{ request.GET.min }}&max="+$('#toInput').val()
    {% elif request.GET.min %}
    window.location.href = "?query={{ request.GET.query }}&sort={{ request.GET.sort }}&min={{ request.GET.min }}&max="+$('#toInput').val()
    {% else %}
    window.location.href = "/"
    {% endif %}   
}
    function reduce(qty, cartid) {
        $.ajax({
            url: '/user/updateqty/',
            type: 'POST',
            data: {
                'pdtid': cartid,
                'o': '0',
                csrfmiddlewaretoken: '{{ csrf_token}}',
            },
            success: function (r) {
                $(qty).val(r.qty)
                $('#price').text('₹' + r.price)
                p = r.s + r.price
                $('#s').text('₹' + r.s)
                $('#total').text('₹' + p)
            },
            error: function (r) {
                swal("Out Of Stock")
            }
        });
    }

    function increase(qty, cartid) {
        $.ajax({
            url: '/user/updateqty/',
            type: 'POST',
            data: {
                'pdtid': cartid,
                'o': '1',
                csrfmiddlewaretoken: '{{ csrf_token}}',
            },
            success: function (r) {
                $(qty).val(r.qty)
                $('#price').text('₹' + r.price)
                p = r.s + r.price
                $('#s').text('₹' + r.s)
                $('#total').text('₹' + p)
            },
            error: function (r) {
                swal("Out Of Stock")
            }

        });

    }


    function cei(){
        $.ajax({
            url:'/user/cei/',
            type: 'POST',
            data:{
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            success:function(){
                location.href = '/user/checkout/'
            },
            error:function(){
                swal("Cart contains Out of Stock Item, Remove Then and proceed")
            }
        })
    }


    function confirmation() {
        $('.delcart').submit(function (ev) {

            ev.preventDefault();
            swal({
                title: "Are you sure?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $('.delcart').attr('action', '/user/delcart/');
                        $(this).unbind('submit').submit()
                    }
                });
        });
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
{% endblock %}